@font-face {
  font-family: 'LilitaOne';
  src: url('~@/assets/fonts/LilitaOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Baloo';
  src: url('~@/assets/fonts/Baloo2-Regular.ttf') format('truetype');
}